{% extends 'IVR/D_IVR/main/templates/main/layout.html' %}
{%block content%}
    <h1 class = "name"> Home Admin here</h1>

<!--    <article class="container">-->
<!--        <div class="block">-->
<!--            <h2 class="name2">Ваша корзина</h2>-->
<!--            <input type="search" class="finder">-->
<!--        </div>-->

<!--        <div class="block">-->
<!--            <h2 class="name2">Дополнительниые предпочтения </h2>-->
<!--        </div>-->
<!--    </article>-->

<!--    <div class="profile_block">-->
<!--        <div class="avatar"></div>-->
<!--        <h2 class = "profile_name">Имя профиля</h2>-->
<!--    </div>-->
{% endblock %}