{% extends 'main/layout.html' %}

{% block content%}
<h1 class = "name"> D-cathcer </h1>ё


    <article class="container">
        <div class="block">
            <section class = "block_item">
                <h2 class="block_item_title">У вас уже есть аккаунт?</h2>
                <button href="forgot.html" class="block_item_btn" signin_btn>Войти</button>
            </section>
            <section class = "block_item">
                <h2 class="block_item_title">У вас нет аккаунта?</h2>
                <button class="block_item_btn" signup_btn>Зарегистрироватся</button>
            </section>
        </div>

            <div class="form_box" form_box>
                <form  class = "form form_signin">
                    <h3 class = "form_title">Вход</h3>

                    <p>
                        <input type = "text" class = "form_input" placeholder = "Логин">
                    </p>
                    <p>
                        <input type = "password" class = "form_input" placeholder="Пароль">
                    </p>
                    <p>
                        <button class = "form_btn">Войти</button>
                    </p>
                    <p><a href="forgot.html" class = "form_forgot">Забыли пароль</a></p>
                </form>


                <form action="#" class = "form form_signup">
                    <h3 class = "form_title">Регистрация</h3>

                    <p>
                        <input type = "text" class = "form_input" placeholder = "Логин">
                    </p>
                    <p>
                        <input type = "email" class = "form_input" placeholder="Email">
                    </p>
                    <p>
                        <input type = "password" class = "form_input" placeholder="Пароль">
                    </p>
                    <p>
                        <input type = "password" class = "form_input" placeholder="Подтвердите пароль">
                    </p>
                    <p>
                        <button class = "form_btn form_btn_signup" form_btn_signup>Зарегистрироватся</button>
                    </p>
                    <p><a href="#" class = "form_forgot">Востановить пароль</a></p>
                </form>
            </div>

    </article>
{% endblock %}

{% block title %} Login Page {% endblock%}